.card {
  padding: 15px 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 220px;
  min-height: 120px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon i {
  font-size: 2rem;
  margin-left: 10px;
}

.card h3 {
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: normal;
}

.card .amount {
  font-size: 1rem;
  color: #34495e;
}

