<div class="sidebar">

  <div class="sidebar-top">
    <i class="ph ph-bank"></i>
  </div>

 <ul class="sidebar-menu">
    <li><i class="ph ph-credit-card"></i> </li> <!-- Cartão -->
    <li><i class="ph ph-wallet"></i> <!-- Saldo --></li>
    <li><i class="ph ph-arrow-right"></i> <!-- Transferência --></li>
    <li><i class="ph ph-list"></i> <!-- Histórico --></li>
    <li><i class="ph ph-gear"></i> <!-- Configurações --></li>
  </ul>

  <div class="sidebar-bottom">
    <i class="ph ph-sign-out"></i> <!-- Sair -->
  </div>

</div>

