.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 120px;
  height: 100%;
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 20px 5px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-top {
  padding-bottom: 10%;
  font-size: 2.5rem;
  text-align: center;
  border-bottom: 1px solid #7f8c8d;
  cursor: pointer;
}

.sidebar-menu {
  list-style: none;
  font-size: 1.5rem;
}

.sidebar-menu li {
  max-width: 60%;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;

  background-color: transparent;
  transition: background 0.3s, color 0.3s;
}

.sidebar-menu li:hover {
  background-color: #34495e;
  color: #5dade2;
}

.sidebar-bottom {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
}

.sidebar-bottom:hover {
  color: #e74c3c;
}
